<div class="container">
  <div class="card bg-dark text-white m-3 mt-5">
    <h5 class="card-header text-center">
      <img src="../assets/lco.png" alt="" width="30" height="30" class="mr-2" />
      LCO Signup Form
    </h5>
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-6">
            <label>First Name</label>
            <input
              formControlName="firstName"
              type="text"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && rForm.firstName.errors }"
            />
            <div
              *ngIf="submitted && rForm.firstName.errors"
              class="text-warning"
            >
              <div *ngIf="rForm.firstName.errors?.required">
                First Name is required
              </div>
            </div>
          </div>
          <div class="form-group col-6">
            <label>Last Name</label>
            <input
              formControlName="lastName"
              type="text"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && rForm.lastName.errors }"
            />
            <div
              *ngIf="submitted && rForm.lastName.errors"
              class="text-warning"
            >
              <div *ngIf="rForm.lastName.errors?.required">
                Last Name is required
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input
            formControlName="email"
            type="text"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && rForm.email.errors }"
          />
          <div
            *ngIf="rForm.email.touched && rForm.email.errors"
            class="text-warning"
          >
            <div *ngIf="rForm.email.errors?.required">Email is required</div>
            <div *ngIf="rForm.email.errors?.email">
              Email must be a valid email address
            </div>
          </div>
        </div>

        <ng-container>
          <div class="text-danger">Value is required.</div>
        </ng-container>
        <div class="form-row">
          <div class="form-group col">
            <label>Password</label>
            <input
              formControlName="password"
              type="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && rForm.password.errors }"
            />
            <div
              *ngIf="rForm.password.touched && rForm.password.errors"
              class="text-warning"
            >
              <div *ngIf="rForm.password.errors?.required">
                Password is required
              </div>
              <div *ngIf="rForm.password.errors?.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="form-group col">
            <label>Confirm Password</label>
            <input
              formControlName="confirmPassword"
              type="password"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && rForm.confirmPassword.errors
              }"
            />
            <div
              *ngIf="
                rForm.confirmPassword.touched && rForm.confirmPassword.errors
              "
              class="text-warning"
            >
              <div *ngIf="rForm.confirmPassword.errors?.required">
                Confirm Password is required
              </div>
              <div *ngIf="rForm.confirmPassword.errors?.mustmatch">
                Passwords must match
              </div>
            </div>
          </div>
        </div>
        <div class="form-group form-check">
          <input
            formControlName="acceptTandC"
            type="checkbox"
            id="acceptTerms"
            class="form-check-input"
            [ngClass]="{ 'is-invalid': submitted && rForm.acceptTandC.errors }"
          />
          <label for="acceptTerms" class="form-check-label"
            >Accept Terms & Conditions</label
          >
          <div
            *ngIf="submitted && rForm.acceptTandC.errors"
            class="text-warning"
          >
              Accept Ts & Cs is required
            </div>
        </div>
        <div class="text-center">
          <button class="btn btn-success btn-lg px-4 mr-3">Register</button>
          <button class="btn btn-warning" type="reset" (click)="onReset()">
            Reset
          </button>
          <p class="text white">Value: {{ registerForm.value | json }}</p>
          <p class="text white">Value: {{ registerForm.valid | json }}</p>
        </div>
      </form>
    </div>
  </div>
</div>
